header {
    position: fixed;
    top: 0;
    width: 96%;
    margin-top: 0px;
    text-align: center;
    background-color: rgb(81, 103, 124);
    color: white;
}

header > nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: rgb(97, 107, 117);
    border: 1px solid black;
    border-radius: 0;
    margin: 0;
}

header > nav a {
    text-decoration: none;
    color: #333;
    width: 25%; 
    text-align: center; 
    padding: 10px 0;
    border-right: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}

header > nav a:last-child {
    border-right: none;
}

body {
    margin-top: 175px;
    display: flex;
    flex-direction: column;
    min-height: 100%;
    margin-bottom: 55px;
}

footer {
    position: fixed;
    bottom: 0;
    text-align: center;
    padding: 10px 0;
    background-color: rgb(97, 107, 117);
    border: 1px solid black;
    border-radius: 0;
    margin-right: 0;
    width: 96%;
}

body > section {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}



img {
    margin-top: 10px;
    margin-left: 0px;
    width: 45%;
    height: 40%;
}

.grade {
    font-weight: bold;
}

